<p>
  show id is {{showId}}
</p>



<!--[2.1e]-->
<h3><u>Double Loop Method</u></h3>
<div *ngIf="seasons" >
  <br>
  <mat-list *ngFor="let season of seasons" (click)="showEpisodes(season)">
    <!-- Loop through the seasons and for each season inclue a click showEpisodes function-->
    <h3 mat-subheader style="background-color: lightgray; border: black 1px solid;width:50%" >Season {{season.number}}</h3>

    <!-- Output episodes for a given season-->
    <div *ngIf = "clicked2 && season.number==seasonClicked">
       <span *ngFor="let episode of episodes">
         <span *ngIf = "episode.season==season.number">
           <mat-list-item style="background-color: lightcyan; border: black 1px solid;width:50%">
             {{episode.name}}
           </mat-list-item>
         </span>
       </span>

    </div>

  </mat-list>
</div>





<!--[2.2a] -->

<h3><u>Send Season ID Method</u></h3>
<div *ngIf="seasons">
  <br>

  <div *ngFor="let season of seasons" (click)="showEpisodes(season)" class="border rounded">
    Season {{season.number}}
    <div *ngIf = "clicked2 && season.number==seasonClicked">
      <!-- [2.2b] When a season is clicked its id is sent to the season-episode component-->
      <app-season-episodes [seasonId]="season.id"></app-season-episodes>
    </div>
  </div>

</div>
